{% load static %}
<style>
  .image-size {
  width: 60px;
  height: auto;
}

.image-size2 {
  width: 30px;
  height: auto;
}

</style>
<!-- ======= About Section ======= -->
<section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h3>Ingin tahu tentang web <span>IqroTech</span>?</h3>
      </div>

      <div class="row">
        <div class="col-lg-6 d-flex justify-content-center align-items-center" data-aos="fade-right" data-aos-delay="100">
          <img src="{% static 'img/logo.png' %}" alt="logo" class="img-fluid">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <h3>Mengapa web IqroTech hadir?</h3>
          <p>
            <span class="fw-bold">IqroTech</span> dirancang untuk membantu dalam belajar mengaji Al-Qur'an dengan memanfaatkan teknologi speech recognition. Dalam masyarakat, terdapat dua masalah yang sering dihadapi.
          </p>
          <ul>
            <li>
              <i class="bx">
                <img src="{% static 'img/quran-img.png' %}" alt="quran-img" class="img-fluid image-size">
              </i>
              <div>
                <h5>Kesulitan dalam belajar mengaji Al-Qur'an</h5>
                <p>Mempelajari dan menguasai bacaan Al-Qur'an dengan benar merupakan tantangan bagi semua kalangan untuk mencapai kelancaran membacanya.</p>
              </div>
            </li>
            <li>
              <i class="bx">
                <img src="{% static 'img/ustadz.png' %}" alt="ustadz" class="img-fluid image-size2">
              </i>
              <div>
                <h5>Keterbatasan guru atau ustadz</h5>
                <p>Kehadiran seorang guru atau ustadz tidak selalu bisa dijamin setiap saat.</p>
              </div>
            </li>
          </ul>
          <p>
            <span class="fw-bold">IqroTech</span> hadir untuk membantu mengatasi masalah tersebut dan memberikan kesan baru bagi para pengguna yang sedang dalam masa belajar mengaji Al-Qur'an supaya terbantu dalam ucapannya, dan juga sebagai pengganti sementara di kala guru atau ustadz tidak dapat hadir mengajari mengaji.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->