<style>
  #searchSurah {
    width: 200px; /* Atur lebar input sesuai kebutuhan */
    display: inline-block; /* Mengatur elemen dalam satu baris */
    vertical-align: middle; /* Mengatur posisi vertikal di tengah */
  }

  #bacaanAnda,
  #mulaiMengajiBtn,
  #hasilBacaanJudul {
    display: none;
  }
  /* Tampilan Dropdown */
  select {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
    width: 200px; /* Atur lebar dropdown sesuai kebutuhan */
    margin: 0 auto; /* Menengahkan dropdown secara horizontal */
  }

  .centered-dropdown {
    display: block;
    margin: 0 auto; /* Membuat dropdown berada di tengah secara horizontal */
    text-align: center; /* Untuk mengatur teks dropdown di tengah */
  }

  .centered {
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
  }

  .btn {
    margin-left: 10px;
  }

  /* Tampilan Button */
  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #106eea;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
  }

  /* .highlight {
  color: red;
  font-size: 18px;
  font-weight: bold;
} */

  .flex {
    display: flex;
    justify-content: center;
  }

  .flex select {
    margin: 0 10px; /* Atur margin sesuai kebutuhan Anda */
  }

  /* Tombol Rekomendasi Suara */
  #rekomendasiSuaraBtn {
    display: none;
    margin-top: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #3498db;
    cursor: pointer;
  }

  /* Menampilkan tombol hanya ketika ada audio rekomendasi */
  #rekomendasiSuaraBtn.enabled {
    display: block;
  }

  /* Tombol ketika dihover */
  #rekomendasiSuaraBtn:hover {
    border-color: transparent transparent transparent #2980b9;
  }

  #teksQuran {
    direction: rtl; /* Mengatur arah teks dari kanan ke kiri */
    text-align: right; /* Mengatur teks agar rata kanan */
  }

  #my-auto {
    margin-top: auto;
    margin-bottom: auto;
  }

  #hasilBacaanJudul {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
  }

  #hasilBacaan {
    font-size: 28px;
    direction: rtl;
    text-align: right;
    display: none;
  }
</style>

<section id="inti" data-aos="fade-up">
  <div class="section-title">
    <h3>Mari Mulai <span>mengajimu </span>di sini</h3>
  </div>
  <div class="centered">
    <div class="flex">
      <select id="surahDropdown" class="centered-dropdown">
        <option value="">Pilih Surah</option>
        <!-- Opsi-opsi surah -->
      </select>
      <select id="ayatDropdown" class="centered-dropdown" disabled>
        <option value="">Pilih Ayat</option>
        <!-- Opsi-opsi ayat -->
      </select>
    </div>
    <table class="table" style="font-size: 28px">
      <tbody>
        <tr>
          <th id="bacaanAnda">Bacaan Anda</th>
        </tr>
        <tr>
          <td id="teksQuran"></td>
        </tr>
      </tbody>
    </table>
    <div id="teksLatin"></div>
    <div style="margin-bottom: 20px"></div>
    <div>
      <h4 id="hasilBacaanJudul">Hasil Bacaan Anda</h4>
    </div>
    <div id="hasilBacaan"></div>
    <div class="flex" style="margin-top: 20px">
      <div>
        <button id="mulaiMengajiBtn" disabled>Mulai Mengaji</button>
      </div>
      <div style="margin-left: 10px">
        <button id="btnRekomendasiSuara" style="display: none">
          Dengarkan Suara Bacaan
        </button>
        <audio
          id="rekomendasiSuara"
          controls
          class="centered"
          style="display: none"
        >
          Your browser does not support the audio element.
        </audio>
      </div>
    </div>
    <div id="pesan" class="notifikasi"></div>
  </div>
</section>

<script>
  // const juzDropdown = document.getElementById('juzDropdown');
  const surahDropdown = document.getElementById("surahDropdown");
  const ayatDropdown = document.getElementById("ayatDropdown");
  const mulaiMengajiBtn = document.getElementById("mulaiMengajiBtn");
  const teksQuran = document.getElementById("teksQuran");
  const teksLatin = document.getElementById("teksLatin");
  const audioPlayer = document.getElementById("rekomendasiSuara");
  const btnRekomendasiSuara = document.getElementById("btnRekomendasiSuara");
  // const hasilBacaanJudul = document.getElementById("hasilBacaanJudul");
  const hasilBacaan = document.getElementById("hasilBacaan");

  // Fetch daftar surat dari API
  fetch("https://equran.id/api/v2/surat")
    .then((response) => response.json())
    .then((data) => {
      // Menambahkan opsi surat ke dropdown
      data.data.forEach((surat) => {
        const option = document.createElement("option");
        option.value = surat.nomor;
        option.textContent = surat.namaLatin;
        surahDropdown.appendChild(option);
      });
    })
    .catch((error) => {
      console.log("Terjadi kesalahan saat mengambil daftar surat:", error);
    });

  let isFirstSurahSelected = false;
  // Ketika pengguna memilih surat
  surahDropdown.addEventListener("change", function () {
    const selectedSurah = surahDropdown.value;

    if (selectedSurah === "") {
      isFirstSurahSelected = false;
      ayatDropdown.disabled = true;
      mulaiMengajiBtn.disabled = true;
      ayatDropdown.innerHTML = '<option value="">Pilih Ayat</option>';

      // Membersihkan teks Arab dan Latin
      teksQuran.textContent = "";
      teksLatin.textContent = "";

      // Membersihkan teks Arab hasil bacaan pengguna
      hasilBacaanJudul.style.display = "none";
      hasilBacaan.textContent = "";
    } else {
      ayatDropdown.disabled = false;
      mulaiMengajiBtn.disabled = true;

      // Fetch jumlah ayat dalam surat dari API
      fetch(`https://equran.id/api/v2/surat/${selectedSurah}`)
        .then((response) => response.json())
        .then((data) => {
          ayatDropdown.innerHTML = '<option value="">Pilih Ayat</option>';

          data.data.ayat.forEach((ayat) => {
            const ayatOption = document.createElement("option");
            ayatOption.value = ayat.nomorAyat;
            ayatOption.textContent = ayat.nomorAyat;
            ayatDropdown.appendChild(ayatOption);
          });

          // Membersihkan teks Arab dan Latin ketika surat berubah
          teksQuran.textContent = "";
          teksLatin.textContent = "";

          // Sembunyikan tombol Mulai Mengaji dan Dengarkan Bacaan
          mulaiMengajiBtn.style.display = "none";
          btnRekomendasiSuara.style.display = "none";
          bacaanAnda.style.display = "none";

          // Membersihkan teks Arab hasil bacaan pengguna
          hasilBacaanJudul.style.display = "none";
          hasilBacaan.textContent = "";
        })
        .catch((error) => {
          console.log("Terjadi kesalahan saat mengambil jumlah ayat:", error);
        });
    }
  });

  let isFirstAyatSelected = false;
  ayatDropdown.addEventListener("change", function () {
    const selectedAyat = ayatDropdown.value;
    console.log("selectedAyat:", selectedAyat);

    if (selectedAyat === "") {
      isFirstAyatSelected = false;
      // Jika pengguna belum memilih ayat, sembunyikan teks Bacaan Anda dan tombol Mulai Mengaji
      bacaanAnda.style.display = "none";
      mulaiMengajiBtn.style.display = "none";
      btnRekomendasiSuara.style.display = "none";

      // Mengosongkan teks Al-Quran dan teks Latin
      teksQuran.textContent = "";
      teksLatin.textContent = "";

      // Membersihkan teks Arab hasil bacaan pengguna
      hasilBacaanJudul.style.display = "none";
      hasilBacaan.textContent = "";
    } else {
      // Jika pengguna telah memilih ayat, tampilkan teks Bacaan Anda dan tombol Mulai Mengaji
      bacaanAnda.style.display = "block";
      mulaiMengajiBtn.style.display = "block";
      mulaiMengajiBtn.disabled = false;

      // Mengambil data teks Al-Quran dari API berdasarkan Surah dan Ayat yang dipilih
      const selectedSurah = surahDropdown.value;

      if (selectedSurah !== "") {
        fetch(`https://equran.id/api/v2/surat/${selectedSurah}`)
          .then((response) => response.json())
          .then((data) => {
            // Cari teks Al-Quran untuk ayat yang dipilih
            const selectedAyatData = data.data.ayat.find(
              (ayah) => ayah.nomorAyat === parseInt(selectedAyat)
            );

            if (selectedAyatData) {
              const teksArabAlQuran = selectedAyatData.teksArab;
              const teksLatinAlQuran = selectedAyatData.teksLatin;

              // Menampilkan teks Al-Quran dan teks Latin di halaman web
              teksQuran.textContent = teksArabAlQuran;
              teksLatin.textContent = teksLatinAlQuran;

              btnRekomendasiSuara.style.display = "none";

              // Membersihkan teks Arab hasil bacaan pengguna
              hasilBacaanJudul.style.display = "none";
              hasilBacaan.textContent = "";
            } else {
              console.log("Data teks Al-Quran tidak ditemukan.");
              teksQuran.textContent = "";
              teksLatin.textContent = "";
            }
          })
          .catch((error) => {
            console.log(
              "Terjadi kesalahan saat mengambil data teks Al-Quran:",
              error
            );
            teksQuran.textContent = "";
            teksLatin.textContent = "";
          });
      }
    }
  });

  function startSpeechRecognition() {
    const recognition = new webkitSpeechRecognition();
    recognition.lang = "ar-AR";

    recognition.maxDuration = 0;

    recognition.timeout = 6000;

    recognition.start();

    recognition.onresult = async function (event) {
      const result = event.results[0][0].transcript;

      // Menambahkan diakritik pada teks hasil pengguna
      tambahkanDiacritic(result);

      //Mengatur hasil bacaan pengguna pada halaman web
      hasilBacaan.textContent = result;
      hasilBacaanJudul.style.display = "block";
      hasilBacaan.style.display = "block";

      // Mengambil data teks Al-Quran dari API berdasarkan Surah dan Ayat yang dipilih
      const selectedSurah = surahDropdown.value;
      const selectedAyat = ayatDropdown.value;

      function tambahkanDiacritic(teks) {
        $.getJSON(
          "https://tahadz.com/mishkal/ajaxGet",
          { text: teks, action: "TashkeelText" },
          function (data) {
            const teksDenganDiacritics = data.result;
            console.log("Teks dengan diakritik:", teksDenganDiacritics);

            // Menampilkan hasil teks dengan diakritik pada halaman web
            // const hasilBacaan = document.getElementById("hasilBacaan");
            hasilBacaan.textContent = teksDenganDiacritics;
            hasilBacaanJudul.style.display = "block";

            // // Menemukan kesalahan dan menyoroti teks yang tidak sesuai
            // const selectedSurah = surahDropdown.value;
            // const selectedAyat = ayatDropdown.value;

            if (selectedSurah !== "" && selectedAyat !== "") {
              fetch(`https://equran.id/api/v2/surat/${selectedSurah}`)
                .then((response) => response.json())
                .then((data) => {
                  const selectedAyatData = data.data.ayat.find(
                    (ayah) => ayah.nomorAyat === parseInt(selectedAyat)
                  );

                  if (selectedAyatData) {
                    const teksArabAlQuran = selectedAyatData.teksArab;
                    const kesalahan = hitungKesalahan(
                      teksArabAlQuran,
                      teksDenganDiacritics
                    );
                    const persentaseKesalahan = Math.round(
                      (kesalahan / teksArabAlQuran.length) * 100
                    );

                    console.log("Proses Perhitungan Persentase Kesalahan:");
                    console.log("Jumlah Kesalahan:", kesalahan);
                    console.log(
                      "Panjang Teks Al-Quran:",
                      teksArabAlQuran.length
                    );
                    console.log(
                      kesalahan,
                      "/",
                      teksArabAlQuran.length,
                      "*100 =",
                      persentaseKesalahan,
                      "%"
                    );

                    // Menampilkan notifikasi berdasarkan persentase kesalahan
                    tampilkanNotifikasi(persentaseKesalahan);

                    // Menampilkan teks Al-Quran dan bacaan pengguna pada halaman web
                    teksQuran.textContent = teksArabAlQuran;
                  } else {
                    console.log("Data teks Al-Quran tidak ditemukan.");
                  }
                })
                .catch((error) => {
                  console.log(
                    "Terjadi kesalahan saat mengambil data teks Al-Quran:",
                    error
                  );
                });
            }
          }
        );
      }
    };

    // Event saat rekaman dihentikan karena mencapai durasi maksimum
    recognition.onaudiostart = function (event) {
      console.log("Rekaman dimulai");
    };

    // Event saat rekaman dihentikan karena mencapai durasi maksimum
    recognition.onaudioend = function (event) {
      console.log("Rekaman berakhir");
    };

    // Event saat rekaman dihentikan karena tidak ada suara selama 3 detik
    recognition.onspeechend = function (event) {
      console.log("Rekaman berhenti karena tidak ada suara");
      recognition.stop();
    };

    // Event saat terjadi error pada speech recognition
    recognition.onerror = function (event) {
      console.log("Terjadi kesalahan pada speech recognition:", event.error);
      recognition.stop();
    };
  }

  let isFirstUsage = true;

  // Fungsi untuk menampilkan notifikasi sebagai pop-up
  function tampilkanNotifikasi(persentase) {
    let notifikasiTitle = "";
    let notifikasiText = "";
    const selectedSurah = surahDropdown.value;
    const selectedAyat = ayatDropdown.value;

    if (persentase === 0) {
      notifikasiTitle = "Masyaallah, bacaanmu benar!";
      notifikasiText = "Selamat! Bacaanmu sempurna.";
    } else {
      notifikasiTitle = `Terdapat ${persentase}% kesalahan`;
      notifikasiText = "Mari lihat kesalahan bacaannya.";
    }

    // Menampilkan notifikasi sebagai pop-up
    const confirmNotifikasi = window.confirm(
      `${notifikasiTitle}\n${notifikasiText}`
    );
    if (confirmNotifikasi) {
      if (isFirstUsage) {
        btnRekomendasiSuara.style.display = "block";
        isFirstUsage = false; // Setelah penggunaan pertama, atur flag menjadi false
      }

      //menampilkan button dengarkan bacaan
      btnRekomendasiSuara.style.display = "block";

      // Mengatur fungsi untuk memutar audio saat tombol "Dengarkan Bacaan" ditekan
      btnRekomendasiSuara.addEventListener("click", function () {
        putarRekomendasiSuara(selectedSurah, selectedAyat);
      });
    }
  }

  // Fungsi untuk menghitung jumlah kesalahan dalam bacaan pengguna
  // function hitungKesalahan(bacaanAsli, bacaanPengguna) {
  //   // Pastikan bacaanAsli dan bacaanPengguna memiliki nilai sebelum melakukan perhitungan
  //   if (!bacaanAsli || !bacaanPengguna) {
  //     return 0;
  //   }

  //   console.log('bacaanAsli:', bacaanAsli);
  //   console.log('bacaanPengguna:', bacaanPengguna);
  //   console.log('------------------');
  //   console.log('Proses menginisialisasi:');

  //   const m = bacaanAsli.length;
  //   const n = bacaanPengguna.length;

  //   // Inisialisasi matriks dengan nilai awal
  //   const dp = [];
  //   for (let i = 0; i <= m; i++) {
  //     dp[i] = [];
  //     dp[i][0] = i;
  //   }

  //   for (let j = 0; j <= n; j++) {
  //     dp[0][j] = j;
  //   }

  //   console.log('Matriks dengan perhitungan jarak Levenshtein:');

    // // Mengisi matriks dengan perhitungan jarak Levenshtein
    // for (let i = 1; i <= m; i++) {
    //   for (let j = 1; j <= n; j++) {
    //     if (bacaanAsli[i - 1] === bacaanPengguna[j - 1]) {
    //       dp[i][j] = dp[i - 1][j - 1];
    //     } else {
    //       dp[i][j] = 1 + Math.min(dp[i - 1][j], dp[i][j - 1], dp[i - 1][j - 1]);
    //     }
    //   }
    // }

    // // Tampilkan matriks
    // for (let i = 0; i <= m; i++) {
    //   let row = '';
    //   for (let j = 0; j <= n; j++) {
    //     row += dp[i][j] + '\t';
    //   }
    //   console.log(row);
    // }

  //   console.log('----------');
  //   console.log('Hasil jumlah kesalahan:', dp[m][n]);

  //   // Menghitung jumlah kesalahan
  //   const jumlahKesalahan = dp[m][n];
  //   return jumlahKesalahan;
  // }

  // Fungsi untuk menghitung jumlah kesalahan dalam bacaan pengguna
  function hitungKesalahan(teksArabAlQuran, teksDenganDiacritics) {
    
    if (!teksArabAlQuran.trim() || !teksDenganDiacritics.trim()) {
      return 0;
    }
    const arabAPI = teksArabAlQuran.replace(
      /([^\u0621-\u063A\u0641-\u064A\u0660-\u0669a-zA-Z 0-9])/g,
      ""
    );
    const teksPengguna = teksDenganDiacritics.replace(
      /([^\u0621-\u063A\u0641-\u064A\u0660-\u0669a-zA-Z 0-9])/g,
      ""
    );

    console.log("bacaan asli:", arabAPI);
    console.log("bacaan pengguna:", teksPengguna);
    console.log("------------------");
    console.log("Proses menginisialisasi:");

    const m = arabAPI.length;
    const n = teksPengguna.length;

    // inisiai matriks dengan nilai awal
    const dp = [];
    for (let i = 0; i <= m; i++) {
      dp[i] = [];
      dp[i][0] = i;
    }

    for (let j = 0; j <= n; j++) {
      dp[0][j] = j;
    }

    console.log("Matriks dengan perhitungan jarak Levenshtein:");

    // Tampilan header untuk huruf pada bacaan pengguna
    let header = "\t";
    for (let i = 0; i <= n; i++) {
      header += `${teksPengguna[i]}\t`;
    }
    console.log(header);

    // Mengisi matriks dengan perhitungan jarak Levenshtein
    for (let i = 0; i <= m; i++) {
      let row = `${i === 0 ? " " : arabAPI[i - 1]}\t`;

      for (let j = 0; j <= n; j++) {
        if (i === 0 && j === 0) {
          row += "0\t";
          continue;
        }

        if (i === 0) {
          row += `${j}\t`;
          continue;
        }

        if (j === 0) {
          row += `${i}\t`;
          continue;
        }

        if (arabAPI[i - 1] === teksPengguna[j - 1]) {
          dp[i][j] = dp[i - 1][j - 1];
        } else {
          dp[i][j] = 1 + Math.min(dp[i - 1][j], dp[i][j - 1], dp[i - 1][j - 1]);
        }
        row += `${dp[i][j]}\t`;
      }
      console.log(row);
    }

    console.log("----------");

    // Menghitung jumlah kesalahan
    const jumlahKesalahan = dp[m][n] - 1;
    return jumlahKesalahan;
  }

  function putarRekomendasiSuara(selectedSurah, selectedAyat) {
    if (selectedSurah && selectedAyat) {
      fetch(`https://equran.id/api/v2/surat/${selectedSurah}`)
        .then((response) => response.json())
        .then((data) => {
          const selectedAyatData = data.data.ayat.find(
            (ayat) => ayat.nomorAyat === parseInt(selectedAyat)
          );

          if (selectedAyatData && selectedAyatData.audio) {
            // Gantilah "05" dengan yang sesuai dengan kebutuhan Anda
            const audioUrl = selectedAyatData.audio["05"];
            if (audioUrl) {
              audioPlayer.src = audioUrl;
              audioPlayer.play();
            } else {
              console.log("URL audio tidak ditemukan.");
            }
          } else {
            console.log("Data audio ayat tidak ditemukan.");
          }
        })
        .catch((error) => {
          console.error(
            "Terjadi kesalahan saat mengambil data teks Al-Quran:",
            error
          );
        });
    }
  }

  mulaiMengajiBtn.addEventListener("click", startSpeechRecognition);
</script>
