{% load static %}
<!-- ======= Team Section ======= -->
<section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h3>Our Hardworking <span>Team</span></h3>
        <p>Halo perkenalkan namaku Ikhsan Nurul rizki. Asli orang garut tapi tinggal di Cimahi dan juga
            suka mencoba hal baru.
        </p>
      </div>

      <div>
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <div class="member-img">
              <img src="static/img/3.png" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Ikhsan Nurul Rizki</h4>
              <span>Mahasiwa</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Team Section -->