{% load static %}
<!-- ======= Step info Section ======= -->
<section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"></div>
            <h4 class="title"><a href="">TAHAP 1</a></h4>
            <p class="description">Pilih Surah dan ayat sesuai dengan yang ingin kamu pelajari.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"></div>
            <h4 class="title"><a href="">TAHAP 2</a></h4>
            <p class="description">Setelah memilih surah dan ayat, 
              tekan tombol “Mulai Mengaji” dan
              kamu dapat langsung melantunkan 
              bacaan yang kamu pilih.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"></div>
            <h4 class="title"><a href="">TAHAP 3</a></h4>
            <p class="description">Kamu dapat mendengarkan suara 
              lantunan Al-Quran yang sudah benar 
              dengan menekan tombol 
              "Dengarkan Suara Bacaan".</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"></div>
            <h4 class="title"><a href="">SELESAI</a></h4>
            <p class="description">Kamu dapat melakukan belajar
              mengaji di <span class="fw-bold">IqroTech</span> secara berulang
              kali.
              SELAMAT BELAJAR!!</p>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End step info Section -->